nav{
  background-image: linear-gradient(to right, red, yellow)
}
form input,button{
  margin: 20px;
}
/* form .card{
  display: flex;
  justify-content: center;
  margin-left: 27%;
} */
.fun{
  background-color: green;
  color: white;
  width: 400px;
  margin-left: 10%;
  border-radius: 7px;
  margin-bottom: 10px;
}
input{
  border-radius: 7px;
}

.student-card{
  border:1px solid red; width:100%; border-radius:5px; margin:20px; background-color:aqua; color:white
}
.student-card:hover{
  background-color: steelblue;
  cursor: pointer;
}